# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/
venv/

# PyTorch checkpoints
*.pt
*.pth
*.bin
checkpoints/

# Training outputs
runs/
logs/
outputs/

# Datasets
data/
data/*
data/*.*
data/*.jsonl
data/data.jsonl

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints/ 

# Miscellaneous
*.log

# Temporary files
*.tmp

# Everything else that isnt covered
*

# Also checkpoints?
checkpoints/
checkpoints/*
checkpoints/*.*
checkpoints/*.jsonl
checkpoints/*.pt